.recipecardgrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(75px, auto);
}

.recipecarddetails {
    grid-column: 1 / 8;
}

.recipecardbuttons {
    grid-column: 8 / 9;
    padding-top: 25%;
}